.contenido-principal {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    order: 2;
}

.sidebar {
    background-color: #e5e5e5;
    padding: 2rem;
    order: 1;
}

.sidebar.derecha {
    order: 3;
}

@media only screen and (min-width: 768px) {
    .contenido {
        display: flex;
    }
    .sidebar {
        flex: 0 0 20%;
    }
}